<section class="concept">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title1">
					<h4>Explication du concept</h4>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<%= image_tag ("macbook"), class: "image-concept" %>
							</div>
							<div class="col-lg-6">
								<h4 class="title-concept">Comparez les prix des pressings depuis votre canapé</h4>
								<p class="text-concept">SoPressing vous permet de comparer les prix des différents pressings autour de chez vous. Saisissez simplement votre ville et les informations concernant votre demande, et notre comparateur trouvera les meilleurs prix pratiqués dans les différentes enseignes à proximité. Vous pouvez comparer les prix pour tout type de vêtements ou méthode de repassage.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<h4 class="title-concept-2">Profiter de réduction en allant à tel ou tel pressing</h4>
								<p class="text-concept-2">Vous pouvez comparer les prix quelque soit votre type de pièces (manteau, couette, drap, robe, costume, chemise) selon le nombres de pièces. SoPressing vous propose des prix attractifs dans de nombreuses villes. De nombreux pressings partenaires vous offrent des réduction en réservant sur notre site.</p>
							</div>
							<div class="col-lg-6">
								<%= image_tag ("analytics"), class: "image-concept" %>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6"><%= image_tag ("suits"), class: "image-concept" %></div>
							<div class="col-lg-6">
								<h4 class="title-concept">Simple &amp; incroyablement rapide</h4>
								<p class="text-concept">Recherchez, comparer, trouver votre pressing. Il ne vous reste plus qu'à déposer vos vêtements dans le pressing que vous aurez choisi. SoPressing est le moyen le plus simple de comparer les prix des différents pressing en ligne.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
