<div class="content">
</div>
<footer class="myFooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 align-self-center">
				<%= image_tag ("logo_transparent.svg"), class: "logo-footer" %>
			</div>
			<div class="col-lg-2 gauche">
				<h5>SoPressing</h5>
				<ul>
					<li><a href="/">Welcome</a></li>
					<li><a href="/">Team	</a></li>
					<li><a href="/home/index#ancre1">Concept</a></li>
				</ul>
			</div>

			<div class="col-lg-4">
				<h5 class="footer-center">Pressing Lyon</h5>
				<div class="row">
					<div class="col-lg-6 gauche">
						<ul>
							<li><a href="#"> Pressing Lyon 1er </a></li>
							<li><a href="#">Pressing Lyon 2ème</a></li>
							<li><a href="#">Pressing Lyon 3ème</a></li>
							<li><a href="#">Pressing Lyon 4ème</a></li>
							<li><a href="#">Pressing Lyon 5ème</a></li>
						</ul>
					</div>
					<div class="col-lg-6 gauche">
						<ul>
							<li><a href="#">Pressing Lyon 6ème</a></li>
							<li><a href="#">Pressing Lyon 7ème</a></li>
							<li><a href="#">Pressing Lyon 8ème</a></li>
							<li><a href="#">Pressing Lyon 9ème</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="social-networks">
					<a href="https://twitter.com/the_hacking_pro" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/thehackingproject/" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
				</div>
				<button type="button" class="btn btn-default">Contact us</button>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<p>© 2017 The Hacking Project</p>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>