
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/home/index"> 
			<%= image_tag 'logo_transparent.svg', class: "logo-header" %> SoPressing
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home/result">A propos <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/index#ancre1">Comment ça marche ?</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/select">Professionnels</a>
				</li>
			</ul>
		</div>
	</div>
</nav>




<!-- <nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"></button>

			<div class="navbar-brand">
				SoPressing
			</div>
		</div>
	</div>

	<div class="collapse navbar-collapse" id="exampleNavComponents">
		<ul class="navbar-form navbar-right">
			<li class="active">
				<a href="#">A propos</a>
			</li>
			<li class="active"></li>
			<a href="#">Comment ça marche ? </a>
			<li class="active"></li>
			<a href="#">Professionnels</a>
		</ul>
	</div>
</nav>
-->
<!--<nav class="navbar navbar-expand-lg navbar-lightbg-light">
	<a class="navbar-brand" href="#"> SoPressing
		
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">A propos <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Comment ça marche ?</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Professionnels</a>
			</li>
		</ul>
	</div>
</nav>-->
